.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Minimum height ensures the footer moves down if content is small */
}

html, body {
  height: auto;
  margin: 0;
  padding: 0;
  display: block;
}

  header {
    background-color: #282c34;
    padding: 1rem;
    color: white;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    flex-grow: 1; /* This allows the main content to grow */
  }

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
  }